[Desktop Entry]
Comment=Start F1/10 GUI
Encoding=UTF-8
Exec=bash /home/amrl_user/scripts/startgui.sh
GenericName=Start F1/10 GUI
Icon=/home/amrl_user/f1tenth_course/gui_icon.png
Name=Start F1/10 GUI
StartupNotify=true
Terminal=true
Type=Application
